<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
<link rel="stylesheet" href="/stylesheets/style.css" />


<section class="is-fullheight is-medium is-primary is-bold loginBg">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-half">
        <article class="card is-rounded is-centered login-card">
          <div class="card-content">
            <h1 class="title">
              <img id="login-logo" src="images/logofinal.png" alt="logo" width="200">
            </h1>
            <form action="/login" method="POST" id="form-container">
            <p class="control has-icon login-input">
              <input id="email" class="input" name="email" type="email" placeholder="Email">
              <i class="fa fa-envelope"></i>
            </p>
            <p class="control has-icon login-input">
              <input id="password" class="input" name="password" type="password" placeholder="Password">
              <i class="fa fa-lock"></i>
            </p>
            <p class="control">
              <button class="button is-link is-medium is-fullwidth">
                <i class="fa fa-user"></i>
                Login
              </button>
            </p>
            </form>
            <p class="control account-message">
              Don't have an account yet?
              <a href="/signup" class="auth-link">Signup</a>
            </p>
            {{#if message }}
            <br>
            <br>  
            <div class="error-message control">{{ message }}</div>
            {{/if}}
          </div>
        </article>
      </div>
    </div>
  </div>
</section>