<script>
  window.meetups={{{meetups}}}
</script>

<h1>Meetups</h1>

<nav class="panel" id="meetups-panel">
  <div id="menu-container">
  <p class="panel-heading">
    Events
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input id="meetup-name" class="input is-small" type="text" placeholder="search">
      <span class="icon is-small is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  <p class="panel-tabs">
    {{!-- TODO: añadir según los tipos que haya en Event --}}
    <a class="is-active filter-options" name="All">All</a>
    <a class="filter-options" name="Charla">Charla</a>
    <a class="filter-options" name="Quedada">Quedada</a>
  </p>
  <div id="events-container">
  </div>
  <label class="panel-block">
    Sort by: <div class="select">
  <select id="select-sort">
    <option selected="selected" name="name">Name</option>
    <option name="type">Type</option>
  </select>
  </div>
  </label>
  <div class="panel-block">
    <button id="btn-add-meetup" class="button is-link is-outlined is-fullwidth">
      Add new event
    </button>
  </div>
  

</div>



  <div id="add-container">
  <p class="panel-heading">
    Events
  </p>

  <p class="panel-heading">
    Add new event
  </p>
  <p class="panel-block">
     <label for"add-name">
       Name:
    </label>
  </p>
  
  
  <div class="panel-block">
    <p class="control has-icons-left">
      <input id="add-name" class="input is-small" type="text" placeholder="Name of the event">
      <span class="icon is-small is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  <p class="panel-block">
     <label for"add-description">
       Description:
    </label>
  </p>
  
  <div class="panel-block">
    <p class="control has-icons-left">
      <input type="text" id="add-description" class="input is-small" placeholder="Name of the event">
      <span class="icon is-small is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>




  
  <label class="panel-block">
    Type: <div class="select">
  <select id="add-type">
    <option selected="selected" name="Charla">Charla</option>
    <option name="Quedada">Quedada</option>
  </select>
  </div>
  </label>
  <div class="panel-block">
    <button id="btn-create-meetup" class="button is-link is-outlined is-fullwidth">
      Create event
    </button>
    </div>
    <div class="panel-block">
    <button id="btn-cancel-add" class="button is-danger is-outlined is-fullwidth">
      Cancel
    </button>
  </div>
  
  </div>




</nav>
<div id="map" class="indexMap"></div>




<script src={{this.googleAPI}}></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/meetups/mapEngine.js"></script>
<script type="text/javascript" src="/javascripts/meetups/meetupMenu.js"></script>

<script type="text/javascript" src="/javascripts/meetups/meetupAPIHandler.js"></script>
<script src="/javascripts/meetups/meetupListeners.js"></script>