
  <div class="booksSpace">
  <div class="booksCol">
  <img width="450" src="/images/books/html5alt.png">
  <hr>
  <h3>HTML5</h3>
  <hr class="booksHr">
  <p>Colección de libros gratuitos sobre <b>HTML5</b> para leer online</p>
  <hr class="booksHr">
  <button class="btnBooks"><a class="booksLink" href="https://www.unaexperiencia20.com/2016/10/libros-espanol-html-css-javascript.html" target="_blank">Link</a></button>
  </div>
  <div class="booksCol">
  <img width="450" src="/images/books/css3.png">
  <hr>
  <h3>CSS3</h3>
  <hr class="booksHr">
  <p class="cssP">Colección de libros gratuitos sobre <b>CSS3</b> para leer online</p>
  <hr class="booksHr">
  <button class="btnBooks"><a class="booksLink" href="https://librosweb.es/libro/css/" target="_blank">Link</a></button>
  </div>
  <div class="booksCol">
  <img width="450" src="/images/books/js.png">
  <hr>
  <h3>JavaScript</h3>
  <hr class="booksHr">
  <p>Colección de libros gratuitos sobre <b>JavaScript</b> para leer online</p>
  <hr class="booksHr">
  <button class="btnBooks"><a class="booksLink" href="https://jsbooks.revolunet.com" target="_blank">Link</a></button>
  </div>
  </div>
  <div class="booksSpace">
  <div class="booksCol">
  <img width="450" src="/images/books/nodejsalt.jpg">
  <hr>
  <h3>NodeJS</h3>
  <hr class="booksHr">
  <p>Colección de libros gratuitos sobre <b>NodeJS</b> para leer online</p>
  <hr class="booksHr">
  <button class="btnBooks"><a class="booksLink" href="http://nodejskoans.com/" target="_blank">Link</a></button>
  </div>
  <div class="booksCol">
  <img width="450" src="/images/books/mongo.jpg">
  <hr>
  <h3>MongoDB</h3>
  <hr class="booksHr">
  <p class="cssP">Colección de libros gratuitos sobre <b>MongoDB</b> para leer online</p>
  <hr class="booksHr">
  <button class="btnBooks"><a class="booksLink" href="https://github.com/yograterol/ebook-mongodb-basico" target="_blank">Link</a></button>
  </div>
  </div>

  