  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 


<div class="prevPostBg">


  <div class="postPrevFlex">
  <div class="postPrevCont">
    {{#each posts}}
    <img class="postImgSquare" src={{this.picPath}}> 
  <hr>
    <h1 class="h1PostPrev">{{this.title}}</h1>
    <hr>
    <p class="authorPrev">Author: {{this.creatorId.username}}</p>
    <hr>
      <a class="button is-dark btnPostPrev" href="/sources/post/{{this.id}}">View more</a>
    {{/each}}
  </div>
  </div>


</div>