<h1>AQUI SE JUEGA</h1>

<div class="booksSpace">
  <div class="booksCol">
  <img width="450" src="/images/gamesImg/logosh.png">
  <hr>
  <h3>Street Hack</h3>
  <hr class="booksHr">
  <p>Ayuda a Sakura a llegar a tiempo a <b>Iron Hack</b> para entregar el DE</p>
  <hr class="booksHr">
  <button class="btnBooks"><a class="booksLink" href="https://yaredmyers.github.io/Street-Hack/" target="_blank">Link</a></button>
  </div>
  <div class="booksCol">
  <img width="450" src="/images/gamesImg/games5.png">
  <hr>
  <h3>Laberinto Imposible</h3>
  <hr class="booksHr">
  <p class="cssP">Colección de libros gratuitos sobre <b>CSS3</b> para leer online</p>
  <hr class="booksHr">
  <button class="btnBooks"><a class="booksLink" href="https://librosweb.es/libro/css/" target="_blank">Link</a></button>
  </div>
  <div class="booksCol">
  <img width="450" src="/images/gamesImg/games7.png">
  <hr>
  <h3>K.JA.B</h3>
  <hr class="booksHr">
  <p>Ayuda a Luis "el humilde" a esquivar al estado y llevárselo todo bien <b>calentito</b>. No parece que vaya a ser fácil cuando veas a Barney</p>
  <hr class="booksHr">
  <button class="btnBooks"><a class="booksLink" href="https://sitobusnan.github.io/K.JA.B/" target="_blank">Link</a></button>
  </div>
  

  