<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<div class="gamesBg">
  <div class="booksSpace">
    <div class="booksCol">
      <img width="450" src="/images/gamesImg/logosh.png">
      <hr>
      <h3>Street Hack</h3>
      <hr class="gamesHr">
      <p>Ayuda a Sakura a llegar a tiempo a
        <b>Iron Hack</b> para entregar el DE mientras esquivas obstáculos por el camino.</p>
      <hr class="gamesHr">
      <a class="button is-dark btnPostPrev" href="https://yaredmyers.github.io/Street-Hack/" target="_blank">Link</a>
    </div>
    <div class="booksCol">
      <img width="450" src="/images/gamesImg/games5.png">
      <hr>
      <h3>Laberinto Imposible</h3>
      <hr class="gamesHr">
      <p class="cssP">Sortea obstáculos y consigue la
        <b>llave</b> para escapar de ese laberinto</p>
      <hr class="gamesHr">
      <a class="button is-dark btnPostPrev" href="https://juanrecio.github.io/el-laberinto-imposible/" target="_blank">Link</a>
    </div>
    <div class="booksCol">
      <img width="450" src="/images/gamesImg/games7.png">
      <hr>
      <h3>K.JA.B</h3>
      <hr class="gamesHr">
      <p>Ayuda a Luis "el humilde" a esquivar al Estado y llevárselo todo bien
        <b>calentito</b>. No parece que vaya a ser fácil cuando veas a Barney</p>
      <hr class="gamesHr">
      <a class="button is-dark btnPostPrev" href="https://sitobusnan.github.io/K.JA.B/" target="_blank">Link</a>
    </div>
  </div>
  <div class="booksSpace">
    <div class="booksCol">
      <img width="450" src="/images/gamesImg/games7.png">
      <hr>
      <h3>Iron Dance</h3>
      <hr class="gamesHr">
      <p>Baila junto a Totoro y
        <b>destroza la pista</b> para ser el rey del baile con sus frenéticos bailes.</p>
      <hr class="gamesHr">
      <a class="button is-dark btnPostPrev" href="https://pompom248.github.io/IronDance/" target="_blank">Link</a>
    </div>
    <div class="booksCol">
      <img width="450" src="/images/gamesImg/games8.png">
      <hr>
      <h3>Iron Trucker</h3>
      <hr class="gamesHr">
      <p class="cssP">Andy se ha dejado los juguetes tirados, usa el
        <b>gancho</b> para ordenar su cuarto</p>
      <hr class="gamesHr">
      <a class="button is-dark btnPostPrev" href="https://angel23184.github.io/irontrucker/" target="_blank">Link</a>
    </div>
    <div class="booksCol">
      <img width="450" src="/images/gamesImg/games9.png">
      <hr>
      <h3>Tangram</h3>
      <hr class="gamesHr">
      <p>Genial juego de Tangram en el que crear
        <b>figuras únicas</b> con las piezas otorgadas.</p>
      <hr class="gamesHr">
      <a class="button is-dark btnPostPrev" href="https://miguelcolo.github.io/Tangram-game/" target="_blank">Link</a>
    </div>
  </div>
  <div class="booksSpace">
    <div class="booksCol">
      <img width="450" src="/images/gamesImg/games9.png">
      <hr>
      <h3>Kokoro</h3>
      <hr class="gamesHr">
      <p>Increíble juego con entorno dinámico en el que controlas a
        <b>Kokoro</b>, un entrañable ser que debe evitar los obstáculos y recoger corazones en su viaje alrededor del mundo.
        </p>
      <hr class="gamesHr">
      <a class="button is-dark btnPostPrev" href="https://yunevk.github.io/Kokoro/" target="_blank">Link</a>
    </div>
    <div class="booksCol">
      <img width="450" src="/images/gamesImg/games8.png">
      <hr>
      <h3>Yo Te Aviso</h3>
      <hr class="gamesHr">
      <p class="cssP">Tu misión como óvulo rebelde es evitar las tropas de
        <b>espermatozoides</b> para no caer en desgracia mientras coges píldoras y preservativos. No olvides el volumen al máximo</p>
      <hr class="gamesHr">
      <a class="button is-dark btnPostPrev" href="https://adeliadanjou.github.io/Yo-Te-Aviso/" target="_blank">Link</a>
    </div>
    <div class="booksCol">
      <img width="450" src="/images/gamesImg/games7.png">
      <hr>
      <h3>Tank Madness</h3>
      <hr class="gamesHr">
      <p>Estás en Marte y debes preparar tu tanque para luchar contra tu oponente en un intenso juego de estrategia para dos
        jugadores que propone muchas horas de
        <b>campeonatos</b> entre amigos.</p>
      <hr class="gamesHr">
      <a class="button is-dark btnPostPrev" href="https://ferpar.github.io/Tank-Madness/" target="_blank">Link</a>
    </div>
  </div>