<div class="ocioSec">
  <audio controls>
    <source src="../audio/x.mp3" type="audio/mpeg">

</audio>
  <div class=forumSec>
    <a href="/ocio/forum">
      <img src="/images/gamesImg/forum.jpg">
    </a>
  </div>
  <div class=gamesSec>
    <a href="/ocio/videogames">
      <img src="/images/gamesImg/gamesdash.jpg">
    </a>
  </div>
</div>

