<div class="ocioDashBg">

<div class="ocioSec">

  <div class="forumSec">
    <a href="/ocio/forum">
      <img src="/images/gamesImg/img2.png">
    </a>
  </div>
  <div class="gamesSec">
    <a href="/ocio/videogames">
      <img src="/images/gamesImg/img4.png">
    </a>
  </div>
  {{!-- <audio controls>
    <source src="../audio/x.mp3" type="audio/mpeg">

</audio> --}}
</div>

</div>

