
<div class="ocioSec">
<div class=forumSec>
<a href="/ocio/forum"><img src="/images/gamesImg/forum.jpg"></a>
</div>
<div class=gamesSec>
<a href="/ocio/videogames"><img src="/images/gamesImg/gamesdash.jpg"></a>
</div>
</div>


