html, body {
  margin:0 ;
  padding: 0;
}

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

hr {
  height: 1px;
  color: black;
  background-color: black;
  border: none;
}

.navImg {
  margin: 10px;
}

.navLogo {
  margin-right: 10px;
}

.booksSpace {
  display: flex;
  justify-content: space-around;
}

.subsecSpace {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subLinks {
  width: 300px;
  margin-right: 10px;
}

.subsecsCol {
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 130px;
}

.booksCol {
  max-width: 20%;
  text-align: center;
  margin: 20px;
  border: 1px solid black;
}

.cssP {
  margin: 10px;
}

.btnBooks {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 20px;
  background: lightskyblue;
}

.booksLink {
  color: black;
}

.booksHr {
  border: 1px solid lightgrey;
  max-width: 70%;
  margin-left: 40px;
}

.sectBtn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gamesHr {
  border: 1px solid white;
  max-width: 70%;
  margin-left: 40px;
}

.sourceDashUnit {
  margin-top: 40px;
}

.loginBg {
  background-image: url("../images/bg/loginbg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.signupBg {
  background-image: url("../images/bg/signupbg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.repoBg {
  background-image: url("../images/bg/pruebabg5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.newPostBg {
  background-image: url("../images/bg/newpostbg1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.subsecBg {
  background-image: url("../images/bg/pruebabg5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.sectionsBg {
  background-image: url("../images/bg/pruebabg4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.sourceFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamesBg {
  background-image: url("../images/bg/pruebabg5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ocioDashBg {
  background-image: url("../images/bg/pruebabg1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booksBg {
  background-image: url("../images/bg/pruebabg5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ocioSec {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.gamesSec {
  max-width: 21%;
  margin-left: 590px;
  height: fit-content;
}

.forumSec {
  max-width: 25%;
}

/*# sourceMappingURL=style.css.map */

#meetups-panel {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
}

.indexMap {
  height: 100vh;
}

#menu-container {
  display: block;
}

#add-container {
  display: none;
}
