html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

hr {
  height: 1px;
  color: black;
  background-color: black;
  border: none;
}

.navImg {
  margin: 10px;
}

.h1Class {
  margin: 0;
}

.navLogo {
  margin-right: 10px;
}

.booksSpace {
  display: flex;
  justify-content: space-around;
}

.subsecSpace {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subLinks {
  width: 300px;
  margin-right: 10px;
}

.subsecsCol {
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 130px;
}

.booksCol {
  max-width: 20%;
  text-align: center;
  margin: 20px;
  border: 1px solid black;
}

.cssP {
  margin: 10px;
}

.btnBooks {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 20px;
  background: lightskyblue;
}

.booksLink {
  color: black;
}

.booksHr {
  border: 1px solid white;
  max-width: 70%;
  margin-left: 40px;
}

.newPostCont {
    display: flex;
    border: 1px solid black;
    background-color: white;
    width: 30%;
    border-radius: 61px;
    margin-left: 210px;
    padding-top: 0px;
    justify-content: center;
    padding: 50px;
    background-color: hsl(0, 0%, 21%);
    color: white;
}

.marginTitle{
  margin-bottom: 10px;
}

.sectBtn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gamesHr {
  border: 1px solid white;
  max-width: 70%;
  margin-left: 40px;
}

.postHr {
  border: 1px solid white;
  max-width: 88%;
  margin-left: 40px;
}

.sourceDashUnit {
  margin-top: 40px;
}

.loginBg {
  background-image: url("../images/bg/loginbg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.signupBg {
  background-image: url("../images/bg/signupbg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.repoBg {
  background-image: url("../images/bg/pruebabg5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.newPostBg {
  background-image: url("../images/bg/newpostbg1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
}

.subsecBg {
  background-image: url("../images/bg/pruebabg5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.sectionsBg {
  background-image: url("../images/bg/pruebabg5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
}

.prevPostBg {
  background-image: url("../images/bg/pruebabg5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.completePostBg {
  background-image: url("../images/bg/pruebabg5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.mainBg {
  background-image: url("../images/bg/pruebabg2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.sourceFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postPrevCont {
  max-width: 50%;
  border: 1px solid black;
  background-color: rosybrown;
  text-align: center;
  margin-top: 30px;
}

.btnBackFlex {
  display: flex;
    justify-content: center;
    margin-top: 15px;
}

.authorPrev {
  font-size: 16px;
  font-style: italic;
}

.authorFull {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 10px;
}

.contentPostFull {
  color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.h1PostPrev {
  font-size: 45px;
  color: white;
  font-weight: lighter;
  margin: 0;
}

.h1PostFull {
  font-size: 45px;
  color: white;
  font-weight: lighter;
  margin: 0;
  margin-bottom: 30px;
}

.btnPostPrev {
  margin-bottom: 25px;
}

.postPrevFlex {
  display: flex;
  justify-content: center;
}

.gamesBg {
  background-image: url("../images/bg/pruebabg5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ocioDashBg {
  background-image: url("../images/bg/pruebabg1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booksBg {
  background-image: url("../images/bg/pruebabg5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ocioSec {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.gamesSec {
  max-width: 21%;
  margin-left: 590px;
  height: fit-content;
}

.forumSec {
  max-width: 25%;
}

.postWelFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.postWel {
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  padding: 30px;
  text-align: center;
  opacity: 50%;
  opacity: 0.5;
  color: white;
  width: 70%;
  padding: 70px;
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */

#meetups-panel {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
}

.indexMap {
  height: 100vh;
}

#menu-container {
  display: block;
}

#add-container {
  display: none;
}
