<div class="subsecBg">
<div class="subsecSpace">
<div class="subsecsCol">
{{#each subsections}}
<a class="subLinks" href="/sources/subsections/{{this.id}}"><img src={{this.imgPath}} alt=""></a>
{{/each}}
</div>
</div>
</div>