<div class="repoBg">
  <div class="booksSpace">
    <div class="booksCol">
      <img width="450" src="/images/reposimg/rep1.png">
      <hr>
      <h3>WebDev Mad</h3>
      <hr class="gamesHr">
      <p>Repositorios de
        <b>WebDev Mad</b> con ejercicios de clase</p>
      <hr class="gamesHr">
      <button class="btnBooks">
        <a class="booksLink" href="https://github.com/ironhack-shared/" target="_blank">Link</a>
      </button>
    </div>
    <div class="booksCol">
      <img width="450" src="/images/reposimg/rep3.png">
      <hr>
      <h3>Public APIs</h3>
      <hr class="gamesHr">
      <p class="cssP">Repositorio compuesto de
        <b>APIs públicas</b>
      </p>
      <hr class="gamesHr">
      <button class="btnBooks">
        <a class="booksLink" href="https://github.com/toddmotto/public-apis/blob/master/README.md" target="_blank">Link</a>
      </button>
    </div>
    <div class="booksCol">
      <img width="450" src="/images/reposimg/rep4.png">
      <hr>
      <h3>Bulma</h3>
      <hr class="gamesHr">
      <p>Colección de templates variados para
        <b>Bulma</b> totalmente gratuitos</p>
      <hr class="gamesHr">
      <button class="btnBooks">
        <a class="booksLink" href="https://dansup.github.io/bulma-templates/" target="_blank">Link</a>
      </button>
    </div>
  </div>
  <div class="booksSpace">
    <div class="booksCol">
      <img width="450" src="/images/reposimg/rep6.png">
      <hr>
      <h3>Yared Repo</h3>
      <hr class="gamesHr">
      <p>Repositorio personal de
        <b>Yared</b> con muchos ejercicios sin acabar</p>
      <hr class="gamesHr">
      <button class="btnBooks">
        <a class="booksLink" href="https://github.com/YaredMyers" target="_blank">Link</a>
      </button>
    </div>
    <div class="booksCol">
      <img width="450" src="/images/reposimg/rep7.png">
      <hr>
      <h3>Juan Repo</h3>
      <hr class="gamesHr">
      <p class="cssP">Repositorio personal de
        <b>Juan</b> con muchos ejercicios sin acabar</p>
      <hr class="gamesHr">
      <button class="btnBooks">
        <a class="booksLink" href="https://github.com/juanrecio" target="_blank">Link</a>
      </button>
    </div>
  </div>
</div>